.float {
  position: fixed;
  z-index: 1;
  top: 152px;
  left: 350px;
  height: 500px;
  width: 700px;
  text-align: center;
  z-index: 99;
  background-color: white;
  margin: auto;

  width: 60%;

  border: 5px solid #343425;

  padding: 10px;
}
